body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
}

header {
    background: #003459;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

header a {
    color: white;
    margin-right: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

button {
    padding: 8px 14px;
}
